@model IEnumerable<LoggerPortal.Models.LogPayload>

@using MVCGrid.Web

@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Logs</h2>*@

<style>
    #MVCGridTableHolder_LogsDetailGrid .row {
        margin-bottom: -35px !important;
        margin-top: -15px !important;
    }
</style>

<div class="well" style="padding: 10px!important; margin-top: 5px!important;margin-bottom:-15px!important">
    <div class="form-inline">
        <div class="form-group">
            @Html.Label("Client: ")
            @Html.DropDownList("Clients", (IEnumerable<SelectListItem>)ViewBag.Clients, "Select...", new { id = "ddlClients", @class = "form-control", @data_mvcgrid_type = "filter", @data_mvcgrid_option = "ClientId" })
        </div>
        <div class="form-group">
            @Html.Label("Application: ")
            @Html.DropDownList("Applications", (IEnumerable<SelectListItem>)ViewBag.Applications, "Select...", new { id = "ddlApplications", @class = "form-control", @data_mvcgrid_type = "filter", @data_mvcgrid_option = "ApplicationId" })
        </div>
        <div class="form-group">
            @Html.Label("Log Type: ")
            @Html.DropDownList("LogTypes", (IEnumerable<SelectListItem>)ViewBag.LogTypes, "Select...", new { id = "ddlLogTypes", @class = "form-control", @data_mvcgrid_type = "filter", @data_mvcgrid_option = "LogTypeId" })
        </div>
        <div class="form-group">
            <button id="btnSubmit" data-mvcgrid-apply-filter="click" style="margin-top: 25px">Apply</button>
        </div>
    </div>
</div>

<div id="dialog" style="display: none">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "View Details",
                width: '60%',
                minHeight: 'auto',
                resiz: 'auto'
            });
            $(document).on("click", ".LogsDetailGridClass", function () {
                var logId = $(this).closest("tr").find("td").find("a").attr('id');
                $.ajax({
                    type: "POST",
                    url: "/Logs/LogDetail",
                    data: '{logId: "' + logId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    });
</script>


@Html.MVCGrid("LogsDetailGrid")